body{
margin:0;
font-family:Arial;
background:#1e40af;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
color:white;
}

.container{
background:white;
color:black;
padding:30px;
border-radius:12px;
width:320px;
text-align:center;
}

.circle{
width:80px;
height:80px;
background:#facc15;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
margin:auto;
margin-bottom:20px;
}

input{
width:100%;
padding:10px;
margin-top:10px;
border-radius:8px;
border:1px solid #ccc;
}

button{
margin-top:20px;
width:100%;
padding:12px;
background:#16a34a;
border:none;
color:white;
font-weight:bold;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:#15803d;
}

.resumen{
margin:20px 0;
text-align:left;
}